identidock:
    build: .
    ports:
        - "80:9090"
    volumes:
        - ./app:/app
    links:
        - dnmonster
        - redis
dnmonster:
    image: amouat/dnmonster:1.0
redis:
    image: redis:3.0